{% extends 'base.html' %}
<head>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">
</head>

{% block body %}
    <div class="d-flex justify-content-center align-items-center" style="height: 80vh;">
        <div class="text-center">
            <div class="p-3 rounded-5 shadow-sm" style="background-image: url('static/img/armagedom_background.png'); background-size: 420px 135px; background-repeat: no-repeat";>
                <h1 class="display-3 text-light font-weight-bold opacity-0" style="text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); font-family: 'Poppins', sans-serif;">
                    Armagedoma
                </h1>
            </div>
        </div>
    </div>
{% endblock %}
