{% extends 'base.html' %}

{% block body %}

<div class="container py-4">
  <h1 class="text-light mb-4">Players</h1>

  <div class="players-grid">
    {% for user in users_list %}
    <div class="player-card">
      <div class="player-avatar">
        <img
          src="{{ url_for('static', filename='profile_pictures/{}'.format(user.profile_picture)) }}"
          alt="{{ user.profile_picture }}"
        >
      </div>

      <div class="player-info">
        <h5 class="username">{{ user.username }}</h5>
        {% if user.is_admin %}
          <span class="badge-role mt-2">Mestre</span>
        {% elif user.ficha %}
          {% if user.ficha.visible %}
            <a href="{{ url_for('ficha_view', id_ficha=user.ficha.uuid) }}" class="character-tag clickable">
            {{ user.ficha.nome_personagem }}
            </a>
          {% else %}
            <span class="character-tag">
            {{ user.ficha.nome_personagem }}
            </span>
          {% endif %}
        {% endif %}
      </div>
    </div>
    {% endfor %}
  </div>
</div>


{% endblock %}